In [0]:
import numpy as np
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [0]:
html = requests.get("https://sports.news.naver.com/kfootball/schedule/index.nhn?date=20200308&year=2013&month=03&category=kleague2").text # 문자열을 가져온것
soup = BeautifulSoup(html, "html.parser") # BeautifulSoup라는 객체로 만들기.
# 한페이지만 일단 긁어옵니다.

In [0]:
soup = soup.find_all("script",{"type":"text/javascript"})
soup = str(soup)
# 파싱 한것을 스트링 형태로 바꿉니다.

In [0]:
find_data = re.sub("[\"\{\[\&]",'',find_data) # 문자열 전처리
find_data = soup.replace(":",",") # 문자열을 조금더 구체적으로 나누기 위해 :로된 부분들은 ,로 바꾸었습니다.
find_data = find_data.split(',') # , 을 기준으로 단어로 구분합니다.

In [0]:
soccer_data = {"gameStartDate": [], "gameStartTime": [], "stadium": [], "homeTeamName": [], "awayTeamName": [],
               "homeTeamScore": [], "awayTeamScore": []} # starttime은 인덱스 2개가지고와야함. 해결과제

# 하드 코딩

In [0]:
for i in range(len(find_data)):
  if find_data[i] == "gameStartDate":
    soccer_data["gameStartDate"].append(find_data[i+1])
  if find_data[i] == "gameStartTime":
    soccer_data["gameStartTime"].append(find_data[i+1])
  if find_data[i] == "stadium":
    soccer_data["stadium"].append(find_data[i+1])
  if find_data[i] == "homeTeamName"
  # 이런식으로 짤 수도 있음.

# 하드코딩 반복문

In [0]:
for data in soccer_data:
  for i in range(len(find_data)):
    if data == find_data[i]:
      soccer_data[data].append(find_data[i+1])

In [0]:
DataFrame_Soccer = pd.DataFrame(soccer_data)

In [0]:
# DataFrame_Soccer.set_index('gameStartDate',drop=True) # 인덱스를 날짜로 바꿀 수 있음.

              gameStartTime stadium  ... homeTeamScore awayTeamScore
gameStartDate                        ...
2013-03-16               14  광주 월드컵  ...             0             3
2013-03-16               16   수원 종합  ...             2             3
2013-03-17               14   안양 종합  ...             1             1
2013-03-17               14   충주 종합  ...             1             3
2013-03-23               14   부천 종합  ...             3             1
2013-03-23               16   상주 시민  ...             1             1
2013-03-24               14  광주 월드컵  ...             0             1
2013-03-30               14   고양 종합  ...             1             1
2013-03-30               14   부천 종합  ...             0             3
2013-03-31               14   안양 종합  ...             1             2
2013-03-31               14   충주 종합  ...             0             0

[11 rows x 6 columns]

# 이제 2013 ~ 2019 까지에 데이터를 크롤링해보자

In [0]:
soccer_data = {"gameStartDate": [], "gameStartTime": [], "stadium": [], "homeTeamName": [], "awayTeamName": [],
               "homeTeamScore": [], "awayTeamScore": []} # starttime은 인덱스 2개가지고와야함. 해결과제

In [0]:
year_list = range(2013,2020) # 2013부터 2019까지 1씩 자동 더하기
month_list = range(3, 12)

In [0]:
for year in year_list:
  for month in month_list:
    html = requests.get("https://sports.news.naver.com/kfootball/schedule/index.nhn?date=20200308&year={0}&month={1}&category=kleague2".format(year,month)).text
    soup = BeautifulSoup(html, "html.parser")

    soup = soup.find_all("script",{"type":"text/javascript"})
    soup = str(soup)
    # 파싱 한것을 스트링 형태로 바꿉니다.

    find_data = re.sub("[\"\{\[\&]",'',find_data) # 간단한 전처리
    find_data = find_data.replace(":",",") # 문자열을 조금더 구체적으로 나누기 위해 :로된 부분들은 ,로 바꾸었습니다.
    find_data = find_data.split(',') # , 을 기준으로 단어로 구분합니다.

    for data in soccer_data:
      for i in range(len(find_data)):
        if data == find_data[i]:
          soccer_data[data].append(find_data[i+1])

In [0]:
soccer_data_frame = pd.DataFrame(soccer_data)

In [0]:
soccer_data_frame

     gameStartDate gameStartTime  ... homeTeamScore awayTeamScore
0       2013-03-16            14  ...             0             3
1       2013-03-16            16  ...             2             3
2       2013-03-17            14  ...             1             1
3       2013-03-17            14  ...             1             3
4       2013-03-23            14  ...             3             1
...            ...           ...  ...           ...           ...
1306    2019-11-09            15  ...             1             2
1307    2019-11-09            15  ...             3             5
1308    2019-11-09            15  ...             1             4
1309    2019-11-23            15  ...             1             1
1310    2019-11-30            14  ...             1             0

[1311 rows x 7 columns]

In [0]:
soccer_data_frame.to_csv("test.csv",encoding='euc-kr')